*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.navbar{
    background-color: #15012c;
    padding: 17px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 30px;
    color: #fff;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}

.navbar ul li a:hover{
    color: #F5BF03;
}

.hero{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/image/bc_7.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
}

.hero h1{
    font-size: 53px;
}

.hero p{
    font-size: 18px;
    margin: 20px 0px;
}

.hero .btn{
    display: flex;
    padding: 12px 20px;
    background-color: #15012c;
    color: #F5BF03;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.hero .btn:hover{
    background-color: #F5BF03;
    color: #15012c;
}